/* This file will hold styles that are loaded using the same media query as the wide grid. */

/* Navigation
*************************************************/
/* Main menu */
ul#main-menu li a,
.region-menu ul.nice-menu li a {
  padding: 13px 40px;
  font-size: 100%;
}
.block-system-user-menu ul.menu li a {
  font-size: 80%;
}

/* Page
*************************************************/

h1.title,
h2.block-title {
  font-size: 180%;
  line-height: 1.3;
}
h1.title span,
.section-content section.block .block-inner h2.block-title span {
  padding: 5px 10px;
}
.section-content section.block.block-category-items .block-inner h2.block-title {
  font-size: 160%;
}


/* Categories  
*************************************************/
/* List categories */
.view-list-categories .views-row {
  width: 265px;
}
.view-list-categories .views-field-field-image {
  width: 265px;
}
.view-list-categories .views-field-field-image img {
  width: 253px;
}


/* Business
*************************************************/
/* Block slideshow business */
.block-business-slideshow .views_slideshow_cycle_main .views-row .views-field-field-images,
.view-slideshow-business .views_slideshow_cycle_main .views-row .views-field-field-images {
  width: 350px;
}
.block-business-slideshow .views_slideshow_cycle_main .views-row .views-field-field-images img,
.view-slideshow-business .views_slideshow_cycle_main .views-row .views-field-field-images img {
  width: 318px;
}
.block-business-slideshow .views_slideshow_cycle_main .views-row .views-field-title a,
.view-slideshow-business .views_slideshow_cycle_main .views-row .views-field-title a {
  font-size: 180%;
}

/* Block list business by category */
.block-category-items .views-field-field-images {
  width: 255px;
}
.block-category-items .views-field-field-images img {
  width: 255px;
}

/* List Business */
.view-list-businesses .views-row {
  width: 415px;
}

.view-list-businesses .views-row .views-field-field-images {
  width: 132px;
}
.view-list-businesses .views-row .views-field-field-images img {
  width: 120px;
}

/* List Search Business */
.view-search-business .views-row .views-field-field-images {
  width: 112px;
}
.view-search-business .views-row .views-field-field-images img {
  width: 100px;
}

/* Business detail */
article.node-business .field-name-field-images {
  width: 280px;
}
article.node-business .field-name-field-images .field-slideshow-slide img {
  width: 268px;
}
article.node ul.field-slideshow-pager li {
  width: 80px;
}
article.node ul.field-slideshow-pager li img {
  width: 68px;
}
article.node-business .field-name-field-location-map {
  width: 220px;
}

/* Events
*************************************************/
/* Block top events */
.block-top-events .views-row {
  width: 415px;
}

/* List events */
.view-list-events .views-row .views-field-field-image {
  width: 290px;
}
.view-list-events .views-row .views-field-field-image img {
  width: 258px;
}

/* Event detail */
article.node-event .field-name-field-image {
  width: 280px;
}
article.node-event .field-name-field-image img {
  width: 268px;
}

/* News
*************************************************/
/* News page */
.view-list-articles .views-row .views-field-field-image {
  width: 210px;
}
.view-list-articles .views-row .views-field-field-image img {
  width: 198px;
}
.view-list-articles .views-field-title a {
  font-size: 180%;
}
.block-views .view-list-articles .views-row {
  width: 410px;
}
.block-views .view-list-articles .views-row .views-field-field-image,
.block-views .view-list-articles .views-row .views-field-field-image img {
  width: 100px;
}
.block-views .view-list-articles .views-field-title a {
  font-size: 100%;
  font-weight: bold;
}
article.node-article .field-name-field-image {
  width: 270px;
}
article.node-article .field-name-field-image img {
  width: 258px;
}
.block-latest-news .views-field-field-image {
  width: 100px;
}


/* Blocks
*************************************************/
.section-content section.block  .block-inner .content,
.section-content #block-system-main  .block-inner .content {
  padding: 50px 10px 20px;
}

/* Block search */
.block-search input.form-text {
  width: 280px;
}

/* Block List Loactions */
.block-list-locations .content ul li {
  width: 32%;
}

/* Block social icons */
.block-social-icons .block-inner span {
  margin-right: 20px;
}
.block-social-icons .block-inner .content img {
  margin: 10px 3px 0;
}

/* Contact form
*************************************************/
/* Contact form */
.contact-form .form-item label {
  float: left;
  width: 200px;
  font-size: 110%;
  font-weight: bold;
}
.contact-form .form-item.form-type-checkbox label {
  float: none;
  font-size: 100%;
  font-weight: normal;
}
.contact-form .form-item .form-textarea-wrapper {
  float: left;
  width: 70%;
}
.contact-form .form-item.form-type-checkbox,
.contact-form .form-actions {
  margin-left: 200px;
  width: auto;
  clear: left;
  float: left;
}
.contact-form .form-actions {
  margin-left: 210px;
}